@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
    @apply w-full overflow-x-hidden;
}

@layer base {
    * {
        @apply transition duration-500 ease-in-out dark:text-white;
    }

    body {
        @apply dark:bg-gray-700;
    }

    main {
        @apply mb-22;
    }

    section {
        @apply pt-16 md:pt-31;
    }

    .dark .slick-dots li button:before {
        color: white !important;
        opacity: 1;
    }

    .dark .slick-dots li.slick-active button:before {
        color: white !important;
        opacity: 1 !important;
    }

    .swiper-slide {
        transition: transform 0.7s ease-in-out;
    }
}
